<h2>Property Binding (one-way)</h2>
<h5>Data taked from the component</h5>
<div class="row">
    <div class="col-xs-6">
        <!-- bind [property] to the template express property -->
        <pre>&lt;img [src]="person.photoUrl"&gt;</pre>
        <p>{{ person.birthday }}</p>
    </div>
    <div class="col-xs-6">
        <!-- bind [property] to the template with [innerText] -->
        <pre>&lt;p [innerText]="person.birthday"&gt;</pre>
        <p [innerText]="person.birthday"></p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6">
        <!-- bind [property] to the template express property -->
        <pre>&lt;img [src]="person.photoUrl"&gt;</pre>
        <img [src]="person.photoUrl" alt="{{ person.photoUrl }}" width="80">
    </div>
    <div class="col-xs-6">
        <!-- This is valid HTML syntax  -->
        <pre>&lt;input [value]="person.emailAddress"&gt;</pre>
        <input [value]="person.emailAddress" />
    </div>
</div>

<div class="row">
    <!-- this also works on your own components! -->
    <!-- partially comment -->
    <!-- <birthday-card [date]="person.birthday"></birthday-card> -->
</div>

<hr>
<h2>ngFor</h2>
<pre>&lt;p *ngFor="let item of listado"&gt;</pre>
<!-- let se utiliza para setear una variable que no existe (creo) -->
<label for="count">Cantidad de items en el array: {{ listado.length }}</label>
<p *ngFor="let item of listado">
    {{ item }}
</p>

<hr>
<h2>Reference Binding</h2>
<pre>&lt;input #userName&gt;</pre>
<div>
    <!-- userName variable is available globally in this template -->
    <input #userName>
    <!-- remember, input  elements have a value property -->
    <button type="button" (click)="takeIt(userName.value)">
        Enviar
    </button>
</div>
<br>
<blockquote *ngIf="inputValue">
    <small>El valor "<strong>{{ inputValue }}</strong>" el que obtuve mediante el atributo #userName
    del input. Se envió y almacenó al hacer click en "Enviar" mediante la
    función 'takeIt'.</small>
</blockquote>

<hr>
<h2>Shortcut Property Binding</h2>
<div>
    <!-- Add class '.important' if 'isImportant' evaluates to true -->
    <img [class.important]="isImportant">
    <!-- if 'isWide' evaluates to true, set the style to 'widePx' -->
    <input [style.width]="isWide ? widePx : narrowPx">
    <!-- you can also set attributes as opposed to properties -->
    <div [attr.aria-disabled]="isDisabled">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
</div>

<hr>
<h2>Event Binding</h2>
<div>
    <!-- When user clicks the button, call the 'saveUser' function on the component
    instance and pass the underlying event -->
    <button (click)="saveUser($event)"></button>

    <!-- you can alse create events for custom components. here we have a depleted event,
    and it's going to call the 'soundAlarm' function on the component instance
    when it fires. -->
    <!-- <coffee-marker (depleted)="soundAlarm('loud')"></coffee-marker> -->

    <!-- there are also shortcut event binding! the submit function on the component
    instance will be called when the user presses control and enter -->
    <textarea (keydown.control.enter)="submit()"></textarea>
</div>

<h2>conditional display</h2>

<div>
    <!-- some directives change the structure of the component tree.
    ngIf conditionally shows/hides a section of the UI -->
    <section *ngIf="isSelectionVisible">Howdy!</section>

    <!-- ngFor dynamically changes the structure too!
    Note again the * and case-sensitivity of the directive -->
    <ul>
        <li *ngFor="let item of list">
            {{item.name}}
        </li>
    </ul>
</div>

<hr><br>

<h2>Directive</h2>

<div [class.text-center]="isCentered">
    <input type="radio" name="colors" (click)="color='lightgreen'"> Green
    <input type="radio" name="colors" (click)="color='yellow'"> Yellow
    <input type="radio" name="colors" (click)="color='cyan'"> Cyan
</div>
<hr>
<pre>&lt;p [appHighlight]="color"&gt;</pre>
<p><small><strong>ej:</strong> Hacer hover sobre el siguiente texto.</small></p>
<!-- direcive -->
<p [appHighlight]="color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum, soluta molestias. Consequatur sequi voluptas necessitatibus ducimus delectus doloremque voluptatem itaque, cumque provident ea voluptate commodi distinctio deserunt fugiat, odio!</p>
<blockquote>
    <a href="https://angular.io/docs/ts/latest/guide/attribute-directives.html">Ver tutorial</a>
    <p><small>
    Esta directiva, pasa por parámetro la variable color (esta cambia desde los radio buttons)
    desde el compomente se tomo el input (valor de color que varía desde el template)
    los eventos listener (mouseenter/mouseleave) para aplicar el color al hacer hover
    y Render que se utiliza para hacer 'setElementStyle' y cambiar el bgc inline.
    </small></p>
</blockquote>
