<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" target="_blank" href="{{ brand.url }}">
                <img [src]="brand.logo" width="20">
            </a>
            <span class="navbar-brand">{{ brand.title }}</span>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="github" routerLinkActive="active">GitHub</a></li>
            <li><a routerLink="examples" routerLinkActive="active">Examples</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>

<!-- <github></github> -->
