<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="text"
                    class="form-control"
                    placeholder="Search a Github Username"
                    name="username"
                    (keyup.enter)="search()"
                    [(ngModel)]="username">
                    <!-- or (keyup)="search()" -->
            </div>
        </form>
    </div>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> An error has occurred. 
</div>

<div *ngIf="user" class="panel panel-default">
    <div class="panel-heading">
        {{user.login}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img src="{{user.avatar_url}}" class="img-thumbnail github-avatar" alt="{{user.login}}" />
            </div>
            <div class="col-md-8">
                <div class="stats">
                    <span class="label label-default">{{user.public_repos}} Public Repos</span>
                    <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                    <span class="label label-success">{{user.followers}} Followers</span>
                    <span class="label label-info">{{user.following}} Following</span>
                </div>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                    <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                    <li class="list-group-item"><strong>Name: </strong>{{user.name}}</li>
                    <li class="list-group-item"><strong>Github URL: </strong>{{user.html_url}}</li>
                    <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Repositories</div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia beatae, officiis sit dicta ipsam, porro magnam similique itaque doloribus laboriosam eos architecto incidunt nostrum enim repellendus quidem, eum quaerat sint!</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let repo of repos">
            <p>
                {{ repo.id }} - <strong>{{ repo.name }}</strong>
                <span class="label label-primary pull-right">{{ repo.language }}</span>
            </p>
            <p *ngIf="repo.description"><small>({{ repo.description }})</small></p>
            <a href="{{repo.html_url}}" target="_blank">{{ repo.html_url }}</a>
        </li>
    </ul>
</div>

<p class="text-right"><small>yoelnacho &copy; 2016 </small></p>

<!-- no se porque hay que cerrarlo en un if para que se muestre el valor :-( -->
